<!DOCTYPE html>
<meta charset="UTF-8">
{% if page.layout == "page" %}
	<title>{{ page.date | date: "%B %d, %Y" }}</title>
{% else %}
	<title>{{ site.title }}</title>
{% endif %}
<meta name="description" content="{{ site.description }}">
<meta name="robots" content="noindex,nofollow">
<link href="/favicon.ico" rel="icon" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex,nofollow">
<meta name="theme-color" content="#538293">
<link rel="stylesheet" href="/client/styles/soup/439141.css">
<link rel="stylesheet" href="/client/styles/soup/align_Center.css">
<link rel="stylesheet" href="/client/styles/soup/global.css">
<link rel="stylesheet" href="/client/styles/soup/pattern_Circles.css">
<link rel="stylesheet" href="/client/styles/soup/screen.css">
<link rel="stylesheet" href="/client/styles/soup/shared.css">
<link rel="stylesheet" href="/client/styles/patches.css">

<body class="not_edit loggedout">
	<div id="content">
		<div id="headercontainer2" class="">
			<div id="headercontainer" class="accounts_empty">
				<div id="header" class="friends_empty">
					<div id="title">
						<div id="avatarcontainer" class="vcard">
							<a id="avatar" href="/" class="url ">
								<img src="/images/avatar.gif" alt="chaossglass" class="fn nickname photo" width="48" height="48">
							</a>
						</div>
						<div id="h1">
							<h1 class=""><a href="/">{{ site.title }}</a></h1>
						</div>
					</div>

					<div id="userinfo">
						<div id="descriptioncontainer2">
							<h4>About</h4>
							<div class="description">
									{{ site.description }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="maincontainer">
			<div id="main">
				<div id="posts">
					<div id="more_history">
						<div id="first_batch">
