<!DOCTYPE html>
<meta charset="UTF-8">
<title>{{ page.title | default: site.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="robots" content="noindex,nofollow">
<link href="/favicon.ico" rel="icon" type="image/x-icon">
<link rel="stylesheet" href="/client/styles/soup/439141.css">
<link rel="stylesheet" href="/client/styles/soup/align_Center.css">
<link rel="stylesheet" href="/client/styles/soup/global.css">
<link rel="stylesheet" href="/client/styles/soup/pattern_Circles.css">
<link rel="stylesheet" href="/client/styles/soup/screen.css">
<link rel="stylesheet" href="/client/styles/soup/shared.css">
<link rel="stylesheet" href="/client/styles/patches.css">

<body class="not_edit loggedout ">
	<!-- <div id="soup">
		<a href="https://www.soup.io"><img alt="Tumblelog by Soup.io" src="https://static.soup.io/images/soup_badge.png" title="Tumblelog by Soup.io"></a>
	</div> -->
	<div id="content" class="single-author">

		<div id="headercontainer2" class="">
			<div id="headercontainer" class="accounts_empty">
				<div id="header" class="friends_empty">

					<div id="title">

						<div id="avatarcontainer" class="vcard">
							<a id="avatar" href="https://chaossglass.soup.io/" class="url ">
								<img src="/images/avatar.gif" alt="chaossglass" class="fn nickname user439318 photo" width="48" height="48">
							</a>
						</div>

						<div id="h1">
							<!--soup _h1.html -->
							<h1 class=""><a href="/">{{ site.title }}</a></h1>


						</div>

					</div>

					<div id="userinfo">

						<div id="descriptioncontainer2">
							<h4>About</h4>
							<div id="descriptioncontainer">
								<!--soup _description.html -->
								<div class="description">
									<div class="description-inner">
										Szklanka pełna chaosu.
									</div>
								</div>

							</div>
						</div><!-- description_search -->

						<div id="accountcontainer">
							<h4>Accounts</h4>
							<ul id="accounts">
								<li></li>
							</ul>
						</div>

						<div id="groups_friends">

							<div id="friendscontainer">

								<h4>Friends</h4>

								<ul id="friends-head" class="friends" onmouseout="if(window.SOUP) SOUP.Public.bubble()">
								</ul>
							</div>

						</div><!-- groups_friends -->

					</div><!-- userinfo -->

					<div class="hidden" id="filtercontainer">
						<ul id="filter">
							<li class="sel"><a href="https://chaossglass.soup.io/">My stream</a></li>
							<!--<li class="tv"><a href="https://chaossglass.soup.io/tv">My TV</a></li>-->
							<li class="friends"><a href="https://chaossglass.soup.io/friends">My friends</a></li>
						</ul>
					</div>

				</div>
				<!--/header-->
			</div>
			<!--/headercontainer-->
		</div>
		<!--/headercontainer2-->

		<div id="maincontainer">
			<div id="main">
				<div id="searchbox">

				</div>
				<!--soup _paginator.html -->
				<span></span>


				<div id="posts">

					<script type="text/javascript">
						SOUP.Endless.next_url = '/since/381959866?mode=own&sessid=7288a06953f41727e1be06b439a3e521';
					</script>
					<div id="scroll-contents" style="position: absolute; left: -1000px; visibility: hidden"></div>
					<div id="reload_notice" class="endlessnotice">
						<strong>Newer posts are loading.</strong><br>
					</div>
					<div id="top_notice" class="endlessnotice">
						<strong>You are at the newest post.</strong><br>
						<a href="/since/568481889?mode=own&amp;newer=1&amp;sessid=7288a06953f41727e1be06b439a3e521" id="endless_top_post" onclick="SOUP.Endless.getMoreAbove(); return false;">Click here</a>
						to check if anything new just came in.
					</div>
					<div id="more_history">
						<div id="first_batch">
							<!--soup _post_html.html -->
							<!--soup _header.html -->
							<div id="new-future" class="new-container"></div>